# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/

# Misc
.DS_Store
*.log
*.tsbuildinfo
.turbo/

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
